.AttendanceSheet {
    display: table;
    margin: .75rem auto;
    width: 12.3875rem;
    height: 7.625rem;
    background-color: #f7f5f6;
    box-shadow: 0 0 .0625rem 0 #a4fb9b;
}
.SheetTitle {
    margin-top: .75rem;
    font:.4125rem "黑体";
    color: #0e2b17;
    text-align: center;
}
.SheetHead {
    display: table-header-group;
    height: 33.3%;
}
.sheetTable{
    margin: .4rem auto;
    display: table;
    width: 10.5rem;
    border-collapse: separate; 
    border-spacing: .65rem 0;
}
.sheetTr {
    display: table-row;
}
.SheetCell {
    position: relative;
    display: table-cell;
    width: .75rem;
    height: .75rem;
    text-align: center;
    font: .3625rem "黑体";
    vertical-align: middle;
    color: #0e2b17;
}
.SheetBody{
    display: table-row-group;
}
.sheetCheck {
    font: .325rem "黑体";
    color: #2c2c2c;
    text-align: center;
}
.checkIn::before {
    position: absolute;
    bottom: 0;
    left: .1875rem;
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    background-image: url('./checkIn.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .7;
}
.sheetDate {
    border: .0125rem solid rgba(0, 0, 0, 0);
}
.sheetDate:hover {
    border: .0125rem solid #b4b1b2;
}