.setPersonal{
    padding: .875rem  1rem 0 ;
    width: 100%;
}
.userImg {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 2.1rem;
    height: 2.1rem;
    background-color: #898984;
    background-size: cover;
    border-radius: 1.05rem;
    cursor: pointer;
}
.imgFile{
    display: none;
}
.userImg-outter{
    position: relative;
}
.userImg-outter::before{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    display: block;
    content: '修改头像';
    font: .225rem "宋体";
    color: #000;
    transform: translate(-50%,-50%);
}
.userName {
    position: relative;
    display: block;
    margin: .225rem auto;
    width: 1.2rem;
    height: 0.35rem;
    font: .225rem "宋体";
    color: #000;
    letter-spacing: .025rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.userChange{
    position: absolute;
    top: 0;
    right:  -.8rem;
    display: block;
    color: #c34343;
    cursor: pointer;
    letter-spacing: .025rem;
}
.changeInput {
    width: 100%;
    height: 100%;
    font: .225rem "宋体";
    color: #000;
    letter-spacing: .025rem;
    transform: translate(0,-10%);
}
.phone,.email,.sex,.place,.profession,.passWords{
    position: relative;
    display: inline-block;
    height:  .3rem;
    font: .225rem "宋体";
    color: #000;
    letter-spacing: .025rem;
    vertical-align: top;
}
#province,#city{
    margin-right: .1875rem;
    padding:.0375rem .2rem;
    width: 1.5rem;
    font: .225rem "宋体";
    color: #000;
    letter-spacing: .025rem;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border: none;
    outline: none;
    border-radius: .0625rem;
    background-image: url('./select.png');
    background-size: cover;
    background-color: #e7e7e1;
    background-position: 0 0;
}
.setName {
    float: left;
    margin-right: .3125rem;
    width: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.phoneData{
    float: left;
    width: 1.8rem;
}
.emailData{
    float: left;
    width: 2.5rem;
}
.professionData{
    float: left;
    width: 1rem;
}
.passWordsData {
    float: left;
    width: 1.5rem;
}
.DataOuteer{
    margin-bottom: .25rem;
    height: .3rem;
}
.sex>input{
    vertical-align: middle;
}
.sex>label{
    padding-left: .125rem;
    margin-right: .4rem;
    vertical-align: middle;
}
.completeChange{
    margin: .375rem auto;
    width: 1.25rem;
    height: .5rem;
    font: .2rem/.5rem "宋体";
    color: #000;
    background: linear-gradient(180deg,#fde288,#dec368);
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: .0625rem;
    text-align: center;
    cursor: pointer;
}