* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.w {
    margin: 0 auto;
    width: 21.5rem;
    position: relative;
}
ul {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
.clearfix:before,.clearfix:after{
	Content:"";
	Display:table;
	Clear:both;
}
<<<<<<< HEAD
.clearfix{zoom:1;}
=======
.clearfix{zoom:1;}
/* 标题的格式 */
.news-title,.introduction-title,.join-title,.works-title,.PreviousOffice-title,.PreviousWebsite-title {
    width: 100%;
    height: .45rem;
    font: .45rem  "黑体" ;
    font-weight: bold;
    color: #ccce48;
    text-align: center;
    letter-spacing: .0625rem;
}
/* 页码的格式 */
.Page {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: .5rem;
    width: 9.775rem;
}
.Page>li>a{
    display: block;
    width: .45rem;
    height: .45rem;
    font: .25rem "黑体";
    font-weight: bold;
    line-height: .45rem;
    text-align: center;
    border: 2px solid #84bcf0;
}
.More{
    line-height: .3rem!important;
}
.PageNow{
    background-color: #59f577;
}
>>>>>>> show
