.nav {
    margin-left: 400px;
}
.nav-item {
    float: left;
    padding: 0 25px;
    height: 60px;
    font:16px/60px "黑体";
    text-align: center;
    color: #fff;
}
.nav-item-active {
    background-color: #cdcb62;
    box-shadow: 0 0 6px 0 #fff ;
}