.administratorNav{
    float: left;
    width: 4.1625rem;
    height: 10.1625rem;
}
.administratorNav-item{
    display: block;
    width: 100%;
    height: 11.1%;
    border-bottom: .05rem solid #444644;
    background-color: #2d2f2d;
    font:.5rem/2.5 "黑体";
    color: #fff;
    text-align: center;
}
.administratorNav-item-check{
    background-color: #bdc0bc;
    border-bottom: .05rem solid #ecece7;
}