.ref-button{
    position: absolute;
    display: flex;
    justify-content:space-between;
    right: 23px;
    top: 15px;
    width: 120px;
    height: 25px;
}
.ref-item {
    width: 52px;
    cursor: pointer;
    font:16px/25px "黑体";
    text-align: center;
    color: #fff;
    background-color: #6d6d64;
}