.centlay{
    margin: 0 auto;
    font:.3rem/1.125rem "黑体";
}
img{
    border: none;
    vertical-align: middle;
}
.BusFirst{
    display: block;
    height: .5625rem;
    text-align: center;
    font:.3rem/1.125rem "黑体";
    margin-top: .4rem;
    line-height: normal;
}
.BusSpan{
    padding: .1rem  .15rem .125rem;
    font-weight: 600;
    background-color: #c4a0a0;
    border-radius: .130rem .130rem   0 0;
}
.BusImgBox{
    display: flex;
    margin-top: .3rem;
    width: 16.25rem;
    justify-content: center;
    align-items: center;
}
.BusImgItme{
    width: 20%;
    text-align: center;
    
}
.BusImgItme > .blogImg{
    width: 2.25rem;
    height: 1.5rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}
.BusImgItme > img {
    width: 2.25rem;
    height: 1.8rem;
}
.BusImgItme  .ItmeScript{
    margin-top: .2rem;
    font:.25rem/1.125rem "黑体";
    line-height: .25rem;
    font-weight: 600;
}